@charset "UTF-8";
/* 
    Stylesheet for Google-Homepage
    filename: gh_styles.css
    Author: David LaRocco
    Last Updated: 10/6/20
*/

/* Base Styles */
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    }


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
 }

#bottom {
    background-color: whitesmoke;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    border: 1px solid gainsboro;
} 

/* font styles */
html, body {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222
}

/* list styles */
ul {
    margin: 0 10px;
}

 li {
    float: left;

}

li a {
    display: block;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
}

.right {
    float: right;
}

/* navigation styles */

li > a:link, li > a:visited {
    color: #404040;
}

li > a:hover {
    text-decoration: underline;
}

/* search bar styles */

input {
    width: 55%;
    height: 2em;
    border: 1px solid #c6c6c6;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin-top: 20px;
    padding: 10px 30px;
}

input:hover {
     box-shadow: 3px 3px 4px rgba(66, 66, 66, 0.288), 
                -3px -3px 4px rgba(66, 66, 66, 0.274);
}


/* Button Styles */
button {
    color: #404040;
    border: none;
    border-radius:  4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    padding: 8px 20px;   
}

button:hover {
    background: ghostwhite;
    color: black;
    border: 1px solid silver;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 30px;
}   
