@charset "UTF-8";
/* 
    Stylesheet for Google-Homepage
    filename: gh_styles.css
    Author: David LaRocco
    Last Updated: 10/6/20
*/

/* Base Styles */
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    }


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

#bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
} 


/* list styles */

 li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 10px;
}

.right {
    float: right;
}



/* search bar styles */

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
}

    



